rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /contactRequests/{doc} {
      allow create: if true;
    }

    match /mail/{doc} {
      allow create: if true;
    }

  }
}
